@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap');
* {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
body{
    background-color: black;
}
.text {
    text-align:center;
    padding-top:200px;
    font-weight:bold;
    font-size: 65px;
    color:brown;
}

text span{
    color: blue;
}